{cover_enabled, true}.
{erl_opts, [warnings_as_errors, debug_info]}.
{edoc_opts, [{preprocess, true}]}.
{eunit_opts, [verbose]}.

{xref_checks, []}.
{xref_queries, [{"(XC - UC) || (XU - X - B - \"(cluster_info|dtrace|mochijson2)\" : Mod)", []}]}.

{erl_first_files, [
  "src/clique_writer.erl",
  "src/clique_handler.erl"
]}.

{deps, [
  {cuttlefish, "2.0.7"}
]}.
